/* colours
blue: #009CBF
orange: #F75F00
green: #00A388
--tint-1: #333;
--tint-2: #666;
--tint-3: #999;
--tint-4: #ccc;
--tint-5: #e6e6e6;
--tint-6: #f2f2f2;
 */
@font-face {
  font-family: "ABCSans Regular";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Regular"), url("./abcsans-regular.woff") format("woff");
}
@font-face {
  font-family: "ABCSans Black";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Black"), url("./abcsans-black.woff") format("woff");
}
:root {
  font-size: 1em;
  font-family: "ABCSans Regular", "Arial", sans-serif;
  color: #333;
}
body {
  margin: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: .5rem;
  display: flex;
  flex-flow: column;
}
#selections {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  margin-bottom: 2rem;
}
#navigation {
  display: flex;
  justify-content: center;
  margin: .5rem 0;
}
.icon svg {
  width: 4rem;
  fill: #009CBF;
  pointer-events: none;
}
.icon.maxed, .transition {
  pointer-events: none;
}
.icon.maxed svg {
  fill: #ccc;
}
.icon.hidden {
  display: none;
}
#footer {
  color: #666;
  font-size: .9rem;
}
a {
  text-decoration: none;
  color: #009CBF;
}
.option {
  background: #333;
  padding: 5px;
  width: 140px;
  margin-bottom: .5rem;
  text-align: center;
  box-shadow: 1px 1px 5px #666;
  color: white;
  font-family: "ABCSans Black", "Arial Black", sans-serif;
  font-size: 1.1rem;
}
.option.selected {
  background: #009CBF;
}
h1, p {
  margin: 0;
}
#chart {
  width: 100%;
  height: 100%;
}
#quotaLabel {
  color: #666;
  font-size: .85rem;
  font-weight: bold;
  position: absolute;
}
#quotaLine {
  position: absolute;
  border-left: dashed .5px #666;
}
#prepare {
  font-family: "ABCSans Black", "Arial Black", sans-serif;
  font-size: 2rem;
  color: #666;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
}
.bar {
  position: absolute;
  width: 0px;
  background: #f2f2f2;
  display: flex;
  font-size: .75em;
}
.stub {
  padding: 0 5px;
  margin-right: 3px;
  width: 185px;
  text-align: right;
  background: #FFB300;
  opacity: 0;
  color: white;
}
.stub span {
  font-family: "ABCSans Light", "Arial Narrow", sans-serif;
}
.result {
  background: #FFB300;
}
.nan div {
  background: #333;
}
.ALP div {
  background: #d61515;
}
.LIB div {
  background: #1467cc;
}
.GRN div {
  background: #79c400;
}
.UNG div, .IND div {
  background: #999;
}
.result {
  color: white;
  text-align: right;
}
.elected p::after {
  font-weight: bold;

  content: "ELECTED";
  padding-right: 5px;
}
.eliminated p::after {
  font-family: "ABCSans Light", "Arial Narrow", sans-serif;
  font-size: .7rem;
  color: #333;
  content: "ELIMINATED";
}
@media only screen and (max-width: 500px) {
  .bar {
    font-size: .7em;
  }
  .stub {
    width: 145px;
  }
  #title {
    font-size: 1rem;
  }
  #footer {
    font-size: .8rem;
  }
  #selections {
    justify-content: space-around;
  }
  .option {
    width: 45%;
    font-size: 1rem;
  }
  .icon svg {
    width: 3rem;
  }
  #quotaLabel {
    font-size: .7rem;
  }
}
@media only screen and (min-width: 500px) {
  .option:hover {
    background: #FFB300;
  }
  a:hover, .icon:hover svg {
    color: #FFB300;
    fill: #FFB300;
  }
  .eliminated p::after {
    font-size: .65rem;
  }
}
